button{
  margin-top:5px;
}
input{
  margin-top:1px;
border-radius: 25px;
height:25px;
background:#000;
color:#fff;
border-color: transparent;
padding-left:15px;
}
input:hover, input:focus{
  border-color:transparent !important;
}